body {
	background: #000000;
}
.img{
	align-items: center;
	justify-content: center;
	padding-top: 150px;
	display:flex;
	animation: anim 2s linear infinite;
}
#mybtn{
	width: 30%;
	height: 30%;
}
/*@keyframes anim{*/
/*	0%{*/
/*		right: 0;*/
/*	}*/
/*	50%{*/
/*		right: calc(100% - 200px);*/
/*	}*/
/*	100%{*/
/*		right: 0;*/
/*	}*/
/*}*/
/*.bounce{*/
/*	animation:bounce 5s linear 100;*/
/*}*/


